# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
dist-ssr/
*.local

# Solana & Web3 Secrets (CRITICAL)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# Ignore local wallet files if you ever save them
*.json
!package.json
!tsconfig*.json
!eslint.config.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite / TypeScript
vite.config.ts.timestamp-*
*.tsbuildinfo